.product__img:hover {
  padding: 20px;
  transition: all 0.3s ease 0s;
}

.product__description {
  margin: 20px;
  text-overflow: auto;
}

.product__name {
  font-size: 24px;
  text-overflow: clip;
}

.product__brand,
.product__price {
  margin-top: 10px;
  font-size: 1.2rem;
}
